body {
  font-family: "Courier New", Courier, monospace;
  background-color: #42d15a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: white;
  margin-bottom: 20px;
}

label,
input,
button {
  margin: 10px;
}

button {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #b3b3b3;
}

p {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
